/* Rodapé- contato */

#contact {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-gray);
}

#linha-vertical {
  height: 55px;
  border-right: 0.5px solid black;
}

.contact-email {
  width: 237px;
  font-size: 12px;
  margin-left: 50px;
}

.title-contact {
  font-weight: 700;
  margin-bottom: 8px;
}

.rights-reserved {
  font-size: 12px;
  margin-left: 50px;
}

.footer-logo img {
  width: 8rem;
}

.contact-email img {
  width: 20px;
}
