@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
  --color-primary: #0d47a1;
  --color-secondary-blue: #648cdd;
  --color-background: #f5f5f5;
  --color-background-cards: #ebebeb;
  --color-text-gray: #343a40;
  --color-red: #e63946;
  --color-green: #3fa777;
  --color-yellow: #ffe775;
  --color-button: #0a3880;
  --color-button-text: #f5f5f5;
  --color-button-hover: #0a306b;
  --color-input-title: #c5d4ec;
  --color-input-border-gray: #bfbfbf;
  --color-input-text: rgba(64, 64, 64, 54%);
  --color-menu-sidebar: #343a40;
  --color-menu-contrast: #494e53;
  --color-shadow: #888888;
  --color-background-graphic: #ffffff;
  --color-white: #ffffff;

  --header-height: 56px;
}

body {
  height: 100vh;
  font-family: Poppins;
}

img {
  margin-top: 56px;
}

form,
button {
  width: 281px;
}

/* Lado direito */
#right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
}

.row,
.container-fluid {
  height: 100%;
}

button.btn.btn-primary {
  margin-top: 32px;
  color: var(--color-button-text);
  border-color: var(--color-button);
  background-color: var(--color-button);
}

label {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-input-title);
}

label.form-check-label,
a {
  font-size: 12px;
  font-weight: 300;
  color: var(--color-yellow);
}

span {
  font-size: 24px;
  font-weight: 300;
  color: var(--color-input-title);
}

.form-check-label {
  padding-left: 0%;
}

.form-group {
  margin-top: 24px;
}

.form-group.form-check {
  display: flex;
  margin-top: 9px;
  align-items: center;
  justify-content: space-between;
}

.form-check-input {
  margin-top: 0;
}

.images {
  display: grid;
  margin-top: 10px;
  margin-left: 72px;
  align-items: center;
  justify-content: center;
}

.fa-eye-slash:before,
.fa-eye:before {
  color: var(--color-primary);
}

#show_hide_password {
  align-items: center;
}

.input-group-addon {
  height: 36px;
  border: none;
  background-color: var(--color-background);
}
