img {
  margin-top: 56px;
}

form,
button {
  width: 281px;
}

/* Lado direito */

#right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
}

.row,
.container-fluid {
  height: 100%;
}

button.btn.btn-primary {
  margin-top: 32px;
  color: var(--color-button-text);
  border-color: var(--color-button);
  background-color: var(--color-button);
}

label {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-input-title);
}

label.form-check-label,
a {
  font-size: 12px;
  font-weight: 300;
  color: var(--color-yellow);
}

a.forgot-password {
  text-decoration: none;
  color: var(--color-yellow);
}

a.forgot-password:hover {
  color: var(--color-yellow);
}

span {
  font-size: 24px;
  font-weight: 300;
  color: var(--color-input-title);
}

.form-check-label {
  padding-left: 0%;
}

.form-group {
  margin-top: 24px;
}

.form-group.form-check {
  display: flex;
  margin-top: 9px;
  align-items: center;
  justify-content: space-between;
}

.form-check-input {
  margin-top: 0;
}

.fa-eye-slash:before,
.fa-eye:before {
  color: var(--color-primary);
}

#show_hide_password {
  align-items: center;
}

.input-group-addon {
  height: 36px;
  border: none;
  background-color: var(--color-background);
}

/* Lado esquerdo */

.images {
  display: grid;
  margin-top: 10px;
  margin-left: 72px;
  align-items: center;
  justify-content: center;
}
