.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #932e3e;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  top: 5px;
  border-radius: 25px;
  margin-left: 9px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 36px;
  height: 20px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background: no-repeat;
  background-image: url(../../../assets/icons/contrast.svg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 2px;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Dark mode */
#page-menu.dark .card {
  border: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.61);
}

#page-menu.dark .card-body,
#page-menu.dark .card-body-a {
  background-color: #333333;
}

#page-menu.dark .card-body-b {
  background-color: #515151;
  color: #ffffff;
}

#page-menu.dark .card .card-header {
  background-color: #424242;
  color: #ffffff;
}

#page-menu.dark .card-text {
  color: #ffffff;
}

#page-menu.dark .btn-primary,
#page-menu.dark select {
  background-color: #515151;
  color: #ffffff;
  border: none;
}

#page-menu.dark .btn-primary:active,
#page-menu.dark .btn-primary:hover {
  background-color: #6b6b6b;
}

#page-menu.dark .grid {
  background-color: #424242;
}

#page-menu.dark .average-use {
  background-color: #424242;
  color: #a6d4fa;
  box-shadow: none;
}

#page-menu.dark .switch {
  border: none;
}

#page-menu.dark table,
#page-menu.dark #table-datas th {
  background-color: #333333;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.61);
  border: solid #515151;
  color: #ffffff;
}

#page-menu.dark #table-datas td {
  background-color: #515151;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.61);
  border: solid #515151;
  color: #ffffff;
}

#page-menu.dark #date {
  background-color: #515151;
  color: #ffffff;
  border: none;
}

#page-menu.dark body {
  background-color: black;
}

#page-menu.dark .header {
  background-color: #333333;
}

#page-menu.dark #dashboard {
  background-color: #212121;
  color: #ffffff;
}

#page-menu.dark #settings {
  background-color: #212121;
  color: #ffffff;
}

#page-menu.dark #sidebar {
  background-color: rgb(27, 27, 27);
}

#page-menu.dark .modal-content {
  background-color: #333333;
}

#page-menu.dark h5#modalLabel,
#page-menu.dark label {
  color: #ffffff;
}

#page-menu.dark .font-weight-bolder {
  background-color: #424242;
}

#page-menu.dark .item.top.first,
#page-menu.dark .item.down.first {
  color: #a6d4fa;
}

#page-menu.dark .item.top.second,
#page-menu.dark .item.down.second {
  color: #81c784;
}

#page-menu.dark .item.top.third,
#page-menu.dark .item.down.third {
  color: #e57373;
}

#page-menu.dark .contrast {
  color: #ffffff;
}

#page-menu.dark #sidebar .nav-item .nav-link.active {
  background-color: #333333;
}

#page-menu.dark #contact {
  background-color: black;
}

#page-menu.dark a.exit {
  color: #ffffff;
}

#page-menu.dark #padding-modalCorfirmChoice {
  color: #fff;
}
