/* Botão de Contraste */

.switch {
  top: 5px;
  width: 60px;
  margin-left: 9px;
  position: relative;
  border-radius: 25px;
  display: inline-block;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 36px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  transition: 0.4s;
  background-color: #fff;
  -webkit-transition: 0.4s;
}

.slider:before {
  top: 2px;
  left: 4px;
  content: "";
  width: 15px;
  bottom: 4px;
  height: 15px;
  transition: 0.4s;
  position: absolute;
  background: no-repeat;
  -webkit-transition: 0.4s;
  background-image: url(../../../assets/icons/contrast.svg);
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  transform: translateX(15px);
  -ms-transform: translateX(15px);
  -webkit-transform: translateX(15px);
}

.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Classe de contraste */
.contrast {
  margin: 10px;
}

.contrast span {
  color: #fff;
  font-size: 11px;
  margin-left: 0px;
}

.contrast img {
  width: 20px;
}

/* ***Dark mode - colors*** */

/* **Configuração das páginas** */
#page-menu.dark body {
  background-color: black;
}

#page-menu.dark .contrast {
  color: #ffffff;
}

#page-menu.dark .font-weight-bolder {
  background-color: #424242;
}

/* *Header* */
#page-menu.dark .header {
  background-color: #333333;
}

#page-menu.dark a.exit {
  color: #ffffff;
}

/* *Dashboard* */
#page-menu.dark #dashboard {
  color: #ffffff;
  background-color: #212121;
}

/* *Configurações* */
#page-menu.dark #settings {
  color: #ffffff;
  background-color: #212121;
}

#page-menu.dark #padding-modalCorfirmChoice {
  color: #fff;
}

/* *Menu* */
#page-menu.dark #sidebar {
  background-color: rgb(27, 27, 27);
}

#page-menu.dark #sidebar .nav-item .nav-link.active {
  background-color: #333333;
}

/* *Rodapé - Contato* */
#page-menu.dark #contact {
  background-color: black;
}

/* **Componentes** */

/* *Cards* */

#page-menu.dark .card {
  border: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.61);
}

#page-menu.dark .card-body,
#page-menu.dark .card-body-a {
  background-color: #333333;
}

#page-menu.dark .card .card-header {
  color: #ffffff;
  background-color: #424242;
}

#page-menu.dark .card-body-b {
  color: #ffffff;
  background-color: #515151;
}

#page-menu.dark .card-text {
  color: #ffffff;
}

#page-menu.dark .average-use {
  color: #a6d4fa;
  box-shadow: none;
  background-color: #424242;
}

#page-menu.dark .item.top.first,
#page-menu.dark .item.down.first {
  color: #a6d4fa;
}

#page-menu.dark .item.top.second,
#page-menu.dark .item.down.second {
  color: #81c784;
}

#page-menu.dark .item.top.third,
#page-menu.dark .item.down.third {
  color: #e57373;
}

/* *Botões* */

#page-menu.dark .btn-primary,
#page-menu.dark select {
  border: none;
  color: #ffffff;
  background-color: #515151;
}

#page-menu.dark .btn-primary:active,
#page-menu.dark .btn-primary:hover {
  background-color: #6b6b6b;
}

/* *Botão de Switch* */

#page-menu.dark .switch {
  border: none;
}

/* *Grid* */

#page-menu.dark .grid {
  background-color: #424242;
}

/* *Tabelas* */

#page-menu.dark table,
#page-menu.dark #table-datas th {
  color: #ffffff;
  border: solid #515151;
  background-color: #333333;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.61);
}

#page-menu.dark #table-datas td {
  color: #ffffff;
  border: solid #515151;
  background-color: #515151;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.61);
}

#page-menu.dark .right {
  background-color: #424242;
}

/* *Filtro* */

#page-menu.dark #date {
  border: none;
  color: #ffffff;
  background-color: #515151;
}

/* *Modal* */

#page-menu.dark .modal-content {
  background-color: #333333;
}

#page-menu.dark h5#modalLabel,
#page-menu.dark label {
  color: #ffffff;
}
