@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
  --color-red: #e63946;
  --color-green: #3fa777;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-button: #0a3880;
  --color-yellow: #ffe775;
  --color-shadow: #888888;
  --color-primary: #0d47a1;
  --color-text-gray: #343a40;
  --color-background: #f5f5f5;
  --color-light-gray: #cccccc;
  --color-button-text: #f5f5f5;
  --color-input-title: #c5d4ec;
  --color-menu-sidebar: #343a40;
  --color-button-hover: #0a306b;
  --color-blue-landing: #0056b3;
  --color-menu-contrast: #494e53;
  --color-secondary-blue: #648cdd;
  --color-background-cards: #ebebeb;
  --color-input-border-gray: #bfbfbf;
  --color-button-hover-light: #5775b2;
  --color-input-text: rgba(64, 64, 64, 54%);

  /* Paleta de contraste darkMode */
  --color-contrast-gray-light: #424242;
  --color-contrast-gray-middle: #515151;
  --color-contrast-gray-dark1: #333333;
  --color-contrast-gray-dark2: #212121;

  --header-height: 56px;
}

body {
  height: 100vh;
  font-family: Poppins;
}
