/* Configurações */
#settings {
  height: 100vh !important;
}

/* Cards */
.card .card-header {
  font-size: 14px;
  color: #eef0f4;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
}

#card-settings {
  font-size: 16px;
}

.col-lg-6 {
  width: 800px;
}

#card-body-settings {
  display: flex;
  align-items: center;
  background-color: white;
}

.card-body-a {
  display: flex;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.card-body-b {
  width: 170px;
  display: flex;
  flex: 1 1 auto;
  min-height: 5px;
  padding: 0.4rem;
  color: #343a40;
  align-items: center;
  background-color: var(--color-background-cards);
}

.card-text {
  width: 85px;
  display: flex;
  align-content: end;
  align-items: center;
  justify-content: end;
  color: var(--color-primary);
}

.card-x {
  display: flex;
}

.card-y1 {
  width: 100%;
  display: flex;
}

.card-y2 {
  display: flex;
}

.card-z {
  width: 60%;
}

div#card-provedor {
  width: inherit;
  margin-top: inherit;
}

/* Botões */
.btn-primary {
  color: var(--color-background);
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

button.btn.btn-primary:hover {
  background-color: #5775b2;
}

a.btn.btn-primary {
  display: flex;
  font-size: 14px;
  align-items: center;
}

button.btn.btn-primary {
  height: 25px;
  width: 50px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  background: var(--color-button);
  border: none;
}

#buttonConfirm {
  width: 284px;
  height: 38px;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  align-items: center;
  margin-bottom: 24px;
  justify-content: center;
  background: var(--color-button);
}

/* Formulário */
.form-control-1 {
  width: 80%;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid #d3d3d3;
  background-clip: padding-box;
  color: var(--color-menu-sidebar);
  height: calc(1.5em + 0.75rem + 2px);
  background-color: var(--color-background-cards);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control {
  width: 100%;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  background-clip: padding-box;
  height: calc(1.5em + 0.75rem + 2px);
  background-color: var(--color-white);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group {
  width: 60%;
  color: var(--color-primary);
}

.col-form-label {
  font-weight: 500 !important;
}

form {
  transform: translateX(95px);
}

/* Modal */
.modal {
  padding-right: 0px;
}

.modal-title h5 {
  font-weight: 400;
  color: #5775b2;
  transform: translateX(106px);
}

.modal-header {
  border-bottom: none;
  align-items: center;
}

.modal-footer {
  border-top: none;
  justify-content: center;
}

.bot-a {
  width: 60%;
}

.close {
  color: var(--color-button);
}

main.content {
  margin: auto;
  display: flex;
  width: fit-content;
  flex-direction: column;
  margin-bottom: 103px;
}

h5#modalLabel {
  font-size: 20px;
  height: inherit;
  font-weight: 300;
  display: contents;
  align-items: center;
  background: inherit;
  color: var(--color-primary);
}
