/* Configurações */
#settings {
  height: 100vh !important;
}

main.content {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* Cards */
.card .card-header {
  font-size: 14px;
  color: #eef0f4;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
}

#card-settings {
  font-size: 16px;
}

.col-lg-6 {
  width: 800px;
}

#card-body-settings {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-white);
}

.card-body-a {
  display: flex;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 2rem 3rem;
}

.card-body-b {
  width: 170px;
  display: flex;
  flex: 1 1 auto;
  min-height: 5px;
  padding: 0.4rem;
  align-items: center;
  color: var(--colot-text-gray);
  background-color: var(--color-background-cards);
}

.card-text {
  width: 85px;
  display: flex;
  align-content: end;
  align-items: center;
  justify-content: end;
  color: var(--color-primary);
}

.card-x {
  display: flex;
}

.card-y1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-y2 {
  display: flex;
}

.card-z {
  width: 60%;
}

.config-props {
  width: 40rem;
}

div#card-provedor {
  width: inherit;
  margin-top: inherit;
}

.table {
  margin-bottom: 0px;
}

/* Botões */
.btn-primary {
  color: var(--color-background);
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

button.btn.btn-primary:hover {
  background-color: var(--color-button-hover-light);
}

a.btn.btn-primary {
  display: flex;
  font-size: 14px;
  align-items: center;
}

button.btn.btn-primary {
  width: 92px;
  height: 25px;
  border: none;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  background: var(--color-button);
}

button.btn.btn-primary.add-provider {
  height: 35px;
  width: inherit;
}

#buttonConfirm,
#buttonConfirmCancel {
  width: 140px;
  height: 30px;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  align-items: center;
  margin-bottom: 24px;
  justify-content: center;
  background: var(--color-button);
}

#buttonConfirm:hover,
#buttonConfirmCancel:hover {
  background-color: #0069d9;
}

/* Formulário */
.form-control,
.form-control-1 {
  display: block;
  line-height: 1.5;
  font-weight: 400;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  background-clip: padding-box;
  height: calc(1.5em + 0.75rem + 2px);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-1 {
  width: 80%;
  font-size: 1rem;
  border: 1px solid #d3d3d3;
  color: var(--color-menu-sidebar);
  background-color: var(--color-background-cards);
}

.form-control {
  width: 100%;
  font-size: 14px;
  color: #495057;
  border: 1px solid #ced4da;
  background-color: var(--color-white);
}

.form-group {
  width: 60%;
  color: var(--color-primary);
}

.col-form-label {
  font-weight: 500 !important;
}

#buttonDelete {
  border: none;
  background-color: Transparent;
}

#buttonDelete:focus {
  outline: none;
}

.select-provider {
  display: flex;
  align-items: center;
}

label {
  font-size: 16px;
}
