/* Lado esquerdo */
#left-side {
  width: 45%;
  background: var(--color-primary);
}

.image-forgot {
  margin-left: 45px;
  margin-bottom: 20px;
  width: 63%;
}

/* Lado direito */
#right-side {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Colunas */
.row,
.container-fluid {
  height: 100%;
}

/* Componentes */
form,
button {
  width: 281px;
}

label {
  font-size: 14px;
  margin-top: 16px;
  color: var(--color-primary);
}

button.btn.btn-primary {
  margin-top: 8px;
  color: var(--color-button-text);
  border-color: var(--color-button);
  background-color: var(--color-button);
}

/* Texto */

.text {
  display: grid;
  margin-top: 45px;
  margin-bottom: 25px;
}

.text .text-settings {
  font-size: 24px;
}

.text span {
  font-size: 16px;
}

.text .text-settings,
.text span {
  font-weight: 300;
  color: var(--color-white);
}

.align {
  display: flex;
  margin-top: 35px;
  margin-left: 74px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
