@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
  --color-primary: #0d47a1;
  --color-secondary-blue: #648cdd;
  --color-background: #f5f5f5;
  --color-background-cards: #ebebeb;
  --color-text-gray: #343a40;
  --color-red: #e63946;
  --color-green: #3fa777;
  --color-yellow: #ffe775;
  --color-button: #0a3880;
  --color-button-text: #f5f5f5;
  --color-button-hover: #0a306b;
  --color-input-title: #c5d4ec;
  --color-input-border-gray: #bfbfbf;
  --color-input-text: rgba(64, 64, 64, 54%);
  --color-menu-sidebar: #343a40;
  --color-menu-contrast: #494e53;
  --color-shadow: #888888;
  --color-background-graphic: #ffffff;
  --color-white: #ffffff;

  --header-height: 56px;
}

body {
  height: 100vh;
  font-family: Poppins;
}
