body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Poppins;
  background: var(--color-background-cards);
}

* {
  text-decoration: none;
}

/* Header */
.image-logo {
  width: 11.5rem;
}

ul.navbar-nav {
  display: flex;
  align-items: center;
}

/* Menu */
li {
  margin: 16px;
}

li:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  content: "";
  position: absolute;
  visibility: hidden;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  background-color: var(--color-primary);
  -webkit-transition: all 0.3s ease-in-out 0s;
}

li:hover:before {
  visibility: visible;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: transparent;
}

a {
  font-size: 14px;
  color: var(--color-white) !important;
}

a:hover {
  color: var(--color-blue-landing) !important;
  text-decoration: none !important;
}

/* Botão menu */
.btn-outline-primary {
  width: 10rem;
  font-size: 14px;
  color: var(--color-white) !important;
  border-color: var(--color-white) !important;
}
.btn-outline-primary:hover {
  color: var(--color-white);
  border-color: var(--color-primary) !important;
  background-color: var(--color-primary) !important;
}

/* Botão do banner */
.btn-primary {
  width: 17rem;
  height: 2.5rem;
  border: none !important;
  color: var(--color-white);
  background-color: var(--color-primary) !important;
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.61);
}

/* Parte inicial */
#home {
  height: 100%;
  display: flex;
  padding-top: 50px;
  align-items: center;
  justify-content: start;
  color: var(--color-white);
}

img.image-home {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-content {
  display: grid;
  margin-left: 122px;
  position: absolute;
  align-items: center;
  font-family: Poppins;
  justify-content: start;
}

h1.title-home {
  margin: 0;
  font-size: 42px;
  color: var(--color-primary);
}

h1.type-text {
  text-decoration: none;
  margin: 15px 0 40px 0;
  color: var(--color-white);
}

div#navbarNavDropdown {
  justify-content: flex-end;
}

/* Sobre */
#about {
  height: 600px;
  display: flex;
  padding-top: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-primary);
}
.responsive {
  width: 60%;
  display: flex;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
}

#about .video {
  width: 70%;
  height: 26rem;
  margin-top: -1%;
  object-fit: cover;
  border-radius: 17px;
  -o-object-fit: cover;
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.61);
}

.card-body {
  width: 50%;
  height: 362px;
  display: flex;
  align-items: center;
  flex: none !important;
  justify-content: center;
  border-radius: 0 17px 17px 0;
  background: var(--color-blue-landing);
}

.card-body .title {
  width: auto;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-yellow);
}

.card-body .description {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-white);
}

/* Como funciona */
#howitworks {
  display: grid;
  padding: 95px 0;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  background-color: var(--color-background);
}

.info-createAccount,
.info-loginAccount,
.info-seeDatas {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.info-createAccount span.title-description,
.info-loginAccount span.title-description,
.info-seeDatas span.title-description {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
}

.info-createAccount span,
.info-loginAccount span,
.info-seeDatas span {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-black);
}

.info-seeDatas span {
  width: 273px;
}

.title,
.informations {
  display: flex;
  align-items: start;
  justify-content: center;
}

.title h1 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 50px;
  font-family: "Poppins";
}

/* Contato */
#contact {
  display: flex;
  padding: 25px 0;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-gray);
}

#linha-vertical {
  height: 55px;
  border-right: 0.5px solid black;
}

.contact-email {
  width: 237px;
  display: flex;
  font-size: 12px;
  margin-left: 50px;
  flex-direction: column;
}

.title-contact {
  font-weight: 700;
}

.rights-reserved {
  font-size: 12px;
  margin-left: 50px;
}

.footer-logo img {
  width: 8rem;
}

.contact-email img {
  width: 20px;
}
